<div class="c-article-details bg1">
  <h1 class="c-article-details__title c3 fs17"><%= $.details.title %></h1>
  <div class="c-article-details__extra c12 fs3">
    <%= $.utils.time.getDate($.details.created_at) %>
  </div>
  <div class="c-article-details__body s-cms-content c11 fs5 mb">
    <%- $.details.content %></div>
</div>
