<div class="c-categories">
  <div class="c-categories__item">
    <img src="">
    <div class="c-categories__title c1 fs5">走进重阳</div>
  </div>
  <div class="c-categories__item">
    <img src="">
    <div class="c-categories__title c1 fs5">走进重阳</div>
  </div>
  <div class="c-categories__item">
    <img src="">
    <div class="c-categories__title c1 fs5">走进重阳</div>
  </div>
  <div class="c-categories__item">
    <img src="">
    <div class="c-categories__title c1 fs5">走进重阳</div>
  </div>
</div>
