<div class="c-categories">
  <% $.categoryTops.forEach(function (item) { %>
  <% const category = $.categories.find(function (category) { return category.id === item.category_id }) %>
  <div class="c-categories__item js-link" data-url="/m/articles?a=<%= item.alias %>&c=<%= item.category_id %>">
    <img src="<%= $.helpers.getFileURL(item.picture) %>">
    <div class="c-categories__title c3 fs5"><%= category.title %></div>
  </div>
  <% }) %>
</div>
