<div class="c-hotline">
  <a class="c-hotline__icon" href="tel:<%= $.settings.cellphone %>"></a>
  <a class="c-hotline__tel c11 fs7" href="<%= $.settings.cellphone %>"><%= $.settings.cellphone %></a>
</div>
