<div class="c-nav-bar bg1 c2 fs6 mb" id="nav-bar">
  <li class="c-nav-bar__item" data-views="home" data-url="/">首页</li>
  <li class="c-nav-bar__item" data-views="categories" data-url="/categories">企业信息</li>
  <li class="c-nav-bar__item" data-views="contact-us" data-url="#">联系我们</li>
</div>
