<div class="c-nav-bar bg1 c2 fs6 mb" id="nav-bar">
  <li class="c-nav-bar__item js-link" data-route="home" data-url="/m/">首页</li>
  <li class="c-nav-bar__item js-link" data-route="categories/article" data-url="/m/categories?a=article">企业信息</li>
  <li class="c-nav-bar__item js-link" data-route="categories/contact" data-url="/m/categories?a=contact">联系我们</li>
</div>
