<div class="c-nav-bar" id="nav-bar">
  <a class="c-nav-bar__item" data-views="home" href="/">首页</a>
  <a class="c-nav-bar__item" data-views="news,news-details" href="/news">企业信息</a>
  <a class="c-nav-bar__item" data-views="contact-us" href="#">联系我们</a>
</div>
