<div class="c-news-panel bg1 mb">
  <div class="c-news-panel__header">
    <div class="c-news-panel__title c3 fs7">最新资讯</div>
    <div class="c-news-panel__more js-link" data-url="/categories"></div>
  </div>
  <div class="c-news-panel__body">
    <% $.categoryTops.forEach(function (item) { %>
    <%- require('./commons/components/news-card.ejs')({ $: $, item: item }) %>
    <% }) %>
  </div>
</div>
