<div class="pb-oa-qrcode c-qrcode c6 fs2">
  <div class="c-qrcode__wrap bg10 bd8">
    <img src="<%= $.helpers.getFileURL($.settings.oa_qrcode) %>">
  </div>
  扫描关注公众号
</div>
<div class="pb-app-qrcode c-qrcode c6 fs2">
  <div class="c-qrcode__wrap bg10 bd8">
    <img src="<%= $.helpers.getFileURL($.settings.app_qrcode) %>">
  </div>
  扫描下载 App
</div>
