@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/functions";
@import "../../../../styles/utils/mixins";

/* nav-bar */
@include b(nav-bar) {
  @include text--middle($height-top-bar);
  @include position--fixed(0);

  width: 100%;
  background-color: $color-block;
  z-index: 100;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);

  /* logo */
  @include e(logo) {
    @include link--block(130px, 25px);
    @include position--absolute(25px, null, null, 0);

    font-size: 18px;
    padding-left: 35px;
    line-height: 25px;

    i {
      @include position--absolute(0, null, null, 0);

      font-size: 30px;
      color: #9599af;
    }
  }

  @include e(links, contact) {
    @include position--absolute(0);
  }

  /* links */
  @include e(links) {
    left: 140px;

    @include e(item) {
      margin-left: 25px;

      @include m(active) {
        color: $color-primary;
      }
    }
  }

  /* contact */
  @include e(contact) {
    right: 0;
  }
}
