/**
 * 字体
 * @param {number} $index 字体列表索引
 */
@mixin font($index) {
  @if ($debug) {
    @include _font-for-debug($fonts, $index);
  } @else {
    @include _font($fonts, $index);
  }
}

@mixin border-radius($top-left: null, $top-right: null, $bottom-right: null, $bottom-left: null) {
  @if $top-left != null {
    border-top-left-radius: $top-left;
  }

  @if $top-right != null {
    border-top-right-radius: $top-right;
  }

  @if $bottom-right != null {
    border-bottom-right-radius: $bottom-right;
  }

  @if $bottom-left != null {
    border-bottom-left-radius: $bottom-left;
  }
}

@mixin background-image--full($url) {
  background: {
    size: 100% 100%;
    image: url($url);
  }
}
