$font-family: "Microsoft YaHei", "微软雅黑", Helvetica, Tahoma, Arial, STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

$wrap-width: 1200px;

$font-sizes: (
  12px, // 1
  14px, // 2
  16px, // 3
  18px, // 4
  20px, // 5
  22px, // 6
  24px, // 7
  26px // 8
);

$colors: (
  #fff, // 1
  #000, // 2
  #040404, // 3
  #545454, // 4
  #666, // 5
  #999, // 6
  #bababa, // 7
  #f6793c, // 8
  #823805, // 9
  #f5f5f5, // 10
  #e0e0e0, // 11
  #eaeaea, // 12
  #333, // 13
  #2d2d2d, // 14
  #8e8e8e, // 15
  #ededed, // 16
  #cbcbcb, // 17
  #f47c2f, // 18
  #797979, // 19
  #5b5b5b, // 20
  #6eddd7, // 21
);
