<div id="home-commodities" class="home-commodities relative">
  <a class="nav-hash" name="commodities"></a>
  <dl>
    <dt>游戏<br>产品</dt>
    <dd class="commodities-slider relative">
      <div class="slider-images-wrap">
        <ol class="slider-images">
          <li>
            <img src="../../themes/app/home/commodities/images/demo.png">
            <h2>航海归来1</h2>
            <p>玩家化身传奇船长扬帆远航，在海上征途中完成全球贸易，海上掠夺，抗击海盗，争夺港口。全民海战，一触即发！</p>
            <a class="btn-view" href="commodities.html">查 看</a>
          </li>
          <li>
            <img src="../../themes/app/home/commodities/images/demo.png">
            <h2>航海归来2</h2>
            <p>玩家化身传奇船长扬帆远航，在海上征途中完成全球贸易，海上掠夺，抗击海盗，争夺港口。全民海战，一触即发！</p>
            <a class="btn-view" href="commodities.html">查 看</a>
          </li>
          <li>
            <img src="../../themes/app/home/commodities/images/demo.png">
            <h2>航海归来3</h2>
            <p>玩家化身传奇船长扬帆远航，在海上征途中完成全球贸易，海上掠夺，抗击海盗，争夺港口。全民海战，一触即发！</p>
            <a class="btn-view" href="commodities.html">查 看</a>
          </li>
          <li>
            <img src="../../themes/app/home/commodities/images/demo.png">
            <h2>航海归来4</h2>
            <p>玩家化身传奇船长扬帆远航，在海上征途中完成全球贸易，海上掠夺，抗击海盗，争夺港口。全民海战，一触即发！</p>
            <a class="btn-view" href="commodities.html">查 看</a>
          </li>
        </ol>
      </div>
      <ul class="slider-dir">
        <li class="slider-left"></li>
        <li class="slider-right"></li>
      </ul>
    </dd>
  </dl>
</div>