<div id="home-contact" class="home-contact relative">
  <a class="nav-hash" name="contact"></a>
  <dl>
    <dt>联系<br>我们</dt>
    <dd>
      <ul class="methods">
        <li class="address">
          中国福建省福州市鼓楼区晓康苑<br>
          南楼1801室
        </li>
        <li class="email">
          business@gltornado.com
        </li>
        <li class="tel">
          +86-13295940270
        </li>
      </ul>
      <a class="btn-join" href="job-list.html">
        我要应聘
        <span></span>
      </a>
    </dd>
  </dl>
</div>