@import "../../styles/utils/index";

@include c(hotline) {
  @include text--middle(px2rem(132px / 1.44));

  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 px2rem(16px) rgba(#bababa, 0.4);

  @include e(icon, tel) {
    vertical-align: middle;
    display: inline-block;
  }

  @include e(icon) {
    @include size(px2rem(66px / 1.44), px2rem(66px / 1.44));

    background: {
      image: url("./images/hotline.png");
      size: 100% 100%;
    }
  }

  @include e(tel) {
    @include text--middle(px2rem(44px));

    padding-left: px2rem(7px * 2);
  }
}
