/**
 * 垂直居中
 * @param $height {string} 高度
 */
@mixin middle($height) {
  height: $height;
  line-height: $height;
}

/**
 * 块级元素水平居中
 * @param $width {string} 宽度
 */
@mixin block-center() {
  margin-left: auto;
  margin-right: auto;
}

/**
 * 绝对定位居中
 * @param $width {string} 宽度
 */
@mixin absolute-center($parent-width, $self-width) {
  position: absolute;
  left: $parent-width / 2;
  margin-left: -$self-width / 2;
}

/**
 * 块化链接
 * @param $width {string} 宽度
 * @param $height {string} 高度
 */
@mixin block-link($width, $height) {
  display: block;
  text-decoration: none;
  width: $width;
  height: $height;
}

/**
 * 块化图片
 * @param $width {string} 宽度
 * @param $height {string} 高度
 */
@mixin block-img($width, $height) {
  display: block;
  width: $width;
  height: $height;
}