@import "node_modules/compass-mixins/lib/compass/reset";
@import "./vars";
@import "./functions";

@font-face {
  font-family: "NotoKufiArabic";
  src: url("http://www.gltornado.com/fonts/NotoKufiArabic-Regular.ttf") format("truetype");
}

body {
  font-family: "NotoKufiArabic";
  font-size: $font-size;
  background-color: $body-bg-color;
  max-width: px2rem(720px);
}