@import "../../../utils/mixins";
@import "../../../utils/functions";
@import "../../../utils/classes/fonts";

.home-about {
  background-image: url("./images/bg.jpg");
  background-size: 100% 100%;
  height: px2rem(747px);
  text-align: center;

  dl {
    dt {
      display: inline-block;
      background-color: #64a8f3;
      color: white;
      @extend .font-25;
      padding: px2rem(26px);
      line-height: 110%;
    }

    dd {
      width: px2rem(640px);
      @include block-center();
      @extend .font-12;
      line-height: 180%;
      padding-top: px2rem(60px);
      text-align: left;

      p {
        padding-bottom: 10px;
      }
    }
  }
}