@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/functions";
@import "../../../../styles/utils/mixins";

.button {
  margin: auto px2rem(20px) px2rem(50px) px2rem(20px);
  text-align: center;
  background-color: color(1);
  color: color(6);
  border-radius: px2rem(5px);

  @include middle(px2rem(85px));
  @include font(6);
}
