@import "../../styles/utils/index";

.header {
  background-color: nth($colors, 1);
  height: 80px;

  @include c(logo) {
    @include position--absolute(0, null, null, 71px);
  }

  @include c(nav-bar) {
    @include position--absolute(21px, null, null, 194px);
  }

  @include c(hotline) {
    @include position--absolute(22px, null, null, 931px);

    text-align: center;
  }
}
