@import "../../styles/utils/index";

body {
  background-image: url("./images/body-bg.png");
  color: #000;
}

.container {
  height: 2976px;
}

.footer {
  @include padding(80px, null, 80px);

  background: none !important;
  color: #094d40;
}

@include b(helpers) {
  @include e(key-visual, fee, content) {
    position: absolute;
  }

  @include e(key-visual) {
    @include size(1064px, 813px);

    left: 59px;
    top: 0;
    background: {
      image: url("./images/key-visual.png");
      position: 0 bottom;
    }
  }

  @include e(fee) {
    @include size(1197px, 587px);

    left: -1;
    top: 512px;
    background-image: url("./images/fee.png");

    h2 {
      @include position--absolute(249px, null, null, 353px);

      text-align: center;
      font-size: 80px;
      font-weight: bold;
      color: #fe4902;
      width: 500px;
    }

    h3 {
      @include position--absolute(223px, null, null, 872px);

      font-size: 24px;
    }

    ul {
      @include block--center;

      margin-top: 370px;
      width: 840px;
      display: flex;

      li {
        flex: 1;
        font-size: 24px;

        b {
          color: #fe5b02;
          font-size: 36px;
        }
      }
    }
  }

  @include e(content) {
    @include size(1207px, 1956px);

    left: -7px;
    top: 1033px;
    background-image: url("./images/content-bg.png");

    @include e(which) {
      @include position--absolute(290px, null, null, 97px);

      width: 1050px;

      @include e(tabs) {
        li {
          @include size(138px, 130px);
          @include margin(null, 5px, null, 5px);

          font-size: 18px;
          font-weight: bold;
          float: left;
          text-align: center;
          padding-top: 20px;
          cursor: pointer;

          &::before {
            @include block--center;
            @include size(56px, 61px);

            content: '';
            display: block;
            margin-bottom: 8px;
          }

          @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
              &::before {
                background-image: url("./images/content/which/tabs/" + $i + ".png");
              }
            }
          }

          &.active {
            cursor: inherit;
            background-image: url("./images/content/which/tabs/active.png");
          }
        }
      }

      @include e(contents) {
        @include padding(30px, null, null, 64px);

        li {
          display: none;
          font-size: 20px;
          font-weight: bold;
          line-height: 200%;
          font-size: 18px;

          &.active {
            display: block;
          }
        }
      }
    }

    @include e(join) {
      @include position--absolute(808px, null, null, 181px);
      @include size(846px, 330px);

      background-image: url("./images/join.png");

      @include e(scan) {
        @include position--absolute(244px, null, null, 31px);

        font-size: 20px;
        font-weight: bold;
      }

      @include e(steps) {
        @include position--absolute(5px, null, null, 10px);

        li {
          position: absolute;
          top: 0;
          font-size: 20px;
          font-weight: bold;
          width: 200px;

          &:nth-child(1) {
            left: 0;
          }

          &:nth-child(2) {
            left: 316px;
          }

          &:nth-child(3) {
            left: 672px;
          }
        }
      }
    }

    @include e(activities) {
      @include position--absolute(1342px, null, null, 82px);

      a {
        @include link--block(300px, 210px);

        border: 5px solid #000;
        border-radius: 9px;
        padding: 5px;
        float: left;
        margin: 18px 15px;

        img {
          @include size(300px, 210px);
        }
      }
    }
  }
}
