@import "../../utils/functions";
@import "../../utils/mixins";
@import "../../utils/classes/fonts";

.job {
  width: px2rem(654px);
  margin-bottom: px2rem(100px);
  @include block-center();

  h1 {
    @extend .font-20;
    padding-top: px2rem(85px);
    padding-bottom: px2rem(70px);
  }

  dl {
    color: #666666;
    @extend .font-12;
    height: px2rem(80px);
    line-height: 180%;
    border-bottom: 1px solid #999999;
    display: flex;

    dt {
      flex: 2;
    }

    dd {
      flex: 3;
    }
  }

  .content {
    p {
      @extend .font-12;
      padding-top: px2rem(60px);
      line-height: 180%;

      &.last {
        padding-top: px2rem(100px);
      }
    }
  }
}