@import "../../styles/utils/index";

@include c(nav-bar) {
  @include e(item) {
    @include text--middle(45px);
    @include padding(null, 10px, null, 10px);

    box-sizing: border-box;
    display: inline-block;
    font-size: nth($font-sizes, 4);
    margin-right: 52px;
    text-align: center;
    color: nth($colors, 2);

    @include m(is-active) {
      color: nth($colors, 21);
      font-weight: bold;
    }
  }
}
