@import "../../../styles/global/reset";
@import "../../../styles/utils/variables";
@import "../../../styles/utils/functions";
@import "../../../styles/utils/mixins";
@import "~compass-mixins/lib/compass/utilities";

.container {
  max-width: px2rem($max-width);
  margin: 0 auto;
}

.padding {
  padding: px2rem(40px) px2rem(30px);
}

.list {
  background-color: white;

  li {
    height: px2rem(90px);
    border-bottom: 1px solid nth($colors, 3);
    @include font(3);
    @include middle(px2rem(90px));
    background: {
      image: url("./images/list/arrow.png");
      repeat: no-repeat;
      position: 96% px2rem(35px);
      size: px2rem(12px) px2rem(20px);
    }

    h3 {
      float: left;
      padding-left: px2rem(30px);
      color: nth($colors, 4);
    }

    p {
      float: right;
      padding-right: px2rem(60px);
      color: nth($colors, 5);
      text-align: right;

      span {
        color: nth($colors, 1);
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.card {
  background: {
    image: url("./images/card/bg.png");
    size: 100% 100%;
  }
  width: px2rem(460px);
  height: px2rem(160px);
  overflow: hidden;

  dt {
    float: left;
    width: px2rem(150px);
    @include middle(px2rem(160px));
    text-align: center;
    overflow: hidden;
    @include font(4);
    color: nth($colors, 6);
  }

  dd {
    float: left;
    padding-left: px2rem(25px);
    width: px2rem(280px);
    overflow: hidden;

    h3 {
      color: nth($colors, 4);
      @include font(4);
      padding-top: px2rem(25px);
      padding-bottom: px2rem(15px);
    }

    p {
      color: nth($colors, 5);
      @include font(5);
      line-height: 150%;
    }
  }
}

.button {
  margin: auto px2rem(20px) px2rem(50px) px2rem(20px);
  @include middle(px2rem(85px));
  text-align: center;
  background-color: nth($colors, 1);
  color: nth($colors, 6);
  @include font(6);
  border-radius: px2rem(5px);
}

.panel {
  &__title {
    background: {
      image: url("./images/title/dot.png");
      size: px2rem(12px) px2rem(12px);
      position: 0 px2rem(9px);
      repeat: no-repeat;
    }
    @include middle(px2rem(30px));
    @include font(3);
    text-indent: px2rem(30px);
    margin-bottom: px2rem(20px);
  }

  %body {
    color: nth($colors, 9);
    padding-left: px2rem(30px);
    margin-bottom: px2rem(38px);
    line-height: 180%;
  }

  &__body {
    @extend %body;
    @include font(3);
  }

  &__body--sm {
    @extend %body;
    @include font(2);
  }

  &__dl {
    @include font(5);
    @include clearfix;
    line-height: 180%;

    dt {
      width: px2rem(155px);
      float: left;
      padding-left: px2rem(30px);
    }

    dd {
      width: px2rem(500px);
      float: left;
      color: nth($colors, 5);
      padding-bottom: px2rem(10px);
    }
  }
}

.content {
  &__title {
    @include middle(px2rem(30px));
    @include font(2);
    margin-bottom: px2rem(20px);
  }

  &__sub-title {
    @include middle(px2rem(20px));
    @include font(5);
    margin-bottom: px2rem(15px);
  }

  &__body {
    @include font(5);
    color: nth($colors, 9);
    margin-bottom: px2rem(38px);
    line-height: 180%;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: nth($colors, 6);

  th {
    color: nth($colors, 9);
  }

  td {
    color: nth($colors, 11);
  }

  th, td {
    @include font(5);
    padding: px2rem(22px);
    border: 1px solid nth($colors, 10);
    text-align: center;
    line-height: 120%;
  }
}

.dots {
  li {
    display: inline-block;
    width: px2rem(16px);
    height: px2rem(16px);
    background-size: 100% 100%;
  }

  &__item {
    &--red {
      background-image: url("images/dots/dot-red.png");
    }

    &--blue {
      background-image: url("images/dots/dot-blue.png");
    }
  }
}

.tip {
  color: nth($colors, 9);
  @include font(5);
}

.title {
  color: nth($colors, 1);
  @include font(6);
  text-align: center;
  margin-bottom: px2rem(40px);
}