@import "../../styles/utils/index";

@include c(categories) {
  @include clearfix;
  @include padding(px2rem(20px * 2), null, null, px2rem(25px));

  @include e(item) {
    @include size(px2rem(170px * 2), px2rem(260px));
    @include margin(null, px2rem(5px), px2rem(10px), px2rem(5px));

    float: left;
    position: relative;

    img {
      @include size(px2rem(170px * 2), px2rem(96px * 2));
    }
  }

  @include e(title) {
    @include position--absolute(null, null, px2rem(20px));
    @include text--middle(px2rem(34px));
  }
}
