@import "~compass-mixins/lib/compass/reset";
@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";

html,
body {
  background-color: $color-block;
}

body {
  padding-top: $height-top-bar;
  min-width: $page-min-width;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

a {
  color: $color;
  text-decoration: none;
}
