@import "~compass-mixins/lib/compass/reset";
@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";

html {
  background-color: $bg-color;
}

body {
  min-width: $max-width;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  background-color: $bg-color;
}

a {
  text-decoration: none;
}
