@import "../../styles/utils/index";

@include c(pagination) {
  padding-top: 80px;
  font-size: 0;
  text-align: center;

  @include e(item) {
    @include margin(null, 4px, null, 5px);

    padding: 6px 8px;
    line-height: 100%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: nth($font-sizes, 1);
    color: #6c6c6c;
    border: 1px solid nth($colors, 17);
    cursor: pointer;

    @include m(ellipsis) {
      border: 0;
      cursor: text;
    }

    @include m(is-active) {
      border: 1px solid nth($colors, 21);
      cursor: text;
      color: nth($colors, 1);
      background-color: nth($colors, 21);
    }
  }
}
