@import "../../../../styles/utils/index";

@include b(panel-home) {
  @include padding(70px, null, 70px, null);

  text-align: center;
  background-color: color(2);

  h2 {
    @include inline--block;
    @include font(6);

    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid color(4);
  }

  h3 {
    @include block--center;

    width: 400px;
    padding-bottom: 30px;
  }

  @include m(reverse) {
    background-color: color(6);
  }
}
