$font-family: "Microsoft YaHei", "微软雅黑", Helvetica, Tahoma, Arial, STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

$wrap-width: 1200px;

$font-sizes: (
  10px, // 1
  11px, // 2
  12px, // 3
  13px, // 4
  14px, // 5
  15px, // 6
  16px, // 7
  17px, // 8
  18px, // 9
  19px, // 10
  20px, // 11
  21px, // 12
  22px, // 13
  23px, // 14
  24px, // 15
  25px, // 16
  26px, // 17
  27px //18
);

$colors: (
  #fff, // 1
  #888, // 2
  #000, // 3
  #f78445, // 4
  #eceef3, // 5
  #bababa, // 6
  #9b9b9b, // 7
  #ebebeb, // 8,
  #f6f6f6, // 9
  #f5f5f5, // 10
  #4a4a4a, // 11
  #b2b2b2, // 12
  #cacaca, // 13
  #6eddd6 // 14
);
