@import "../../../../styles/utils/index";

/* details */
@include b(details) {
  /* title */
  @include e(title) {
    @include font(5);
    @include padding(5px, null, 20px, null);
  }

  /* link */
  @include e(link) {
    padding-bottom: 35px;
  }

  /* dl */
  @include e(dl) {
    dt {
      @include font(3);
      @include inline--block;

      padding-bottom: 8px;
      margin-bottom: 8px;
      border-bottom: 1px solid color(4);
    }

    dd {
      padding-bottom: 35px;
    }
  }
}
