@import "../../styles/utils/index";

@include c(article-card) {
  img {
    @include size(px2rem(335px * 2), px2rem(188px * 2));

    display: block;
    border-radius: px2rem(4px * 2);
  }

  @include e(title) {
    @include text--overflow;
    @include padding(px2rem(15px * 2), null, px2rem(5px * 2));

    line-height: 100%;
  }

  @include e(time) {
    @include padding(px2rem(10px * 2), null, px2rem(20px * 2));

    line-height: 100%;
  }
}
