@import "../../styles/utils/index";

@mixin position($left, $top) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: $left;
  margin-top: $top;
}

@include b(page-1, page-2, page-3, page-4) {
  width: 100%;
  height: 100%;
  position: relative;
  background: {
    position: center center;
    repeat: no-repeat;
  }
}

@include b(page-1) {
  background: {
    color: #28b197;
    image: url("./images/page-1/bg.jpg");
  }

  @include e(phone) {
    @include position(-378px, -207px);
    @include size(312px, 479px);

    background-image: url("./images/page-1/phone.png");
  }

  @include e(words) {
    @include position(21px, -136px);
    @include size(305px, 153px);

    background-image: url("./images/page-1/words.png");
  }

  @include e(downloads) {
    @include position(21px, 55px);
  }
}

@include b(page-2) {
  background: {
    color: #815fd7;
    image: url("./images/page-2/bg.jpg");
  }

  @include e(phone) {
    @include position(-482px, -312px);
    @include size(309px, 621px);

    background-image: url("./images/page-2/phone.png");
  }

  @include e(words) {
    @include position(25px, -301px);
    @include size(313px, 75px);

    background-image: url("./images/page-2/words.png");
  }

  @include e(come-on) {
    @include position(-132px, -97px);
    @include size(650px, 420px);

    background-image: url("./images/page-2/come-on.png");
  }

  @include e(downloads) {
    @include position(-13px, -190px);
  }
}

@include b(page-3) {
  background: {
    color: #3394d9;
    image: url("./images/page-3/bg.jpg");
  }

  @include e(phone) {
    @include position(-482px, -312px);
    @include size(309px, 621px);

    background-image: url("./images/page-3/phone.png");
  }

  @include e(words) {
    @include position(25px, -301px);
    @include size(313px, 73px);

    background-image: url("./images/page-3/words.png");
  }

  @include e(come-on) {
    @include position(-70px, -26px);
    @include size(828px, 558px);

    background-image: url("./images/page-3/come-on.png");
  }

  @include e(downloads) {
    @include position(-13px, -190px);
  }
}

@include b(page-4) {
  background: {
    color: #ffae00;
    image: url("./images/page-4/bg.jpg");
  }

  @include e(phone) {
    @include position(-482px, -312px);
    @include size(309px, 621px);

    background-image: url("./images/page-4/phone.png");
  }

  @include e(words) {
    @include position(25px, -301px);
    @include size(308px, 74px);

    background-image: url("./images/page-4/words.png");
  }

  @include e(come-on) {
    @include position(-137px, -30px);
    @include size(669px, 494px);

    background-image: url("./images/page-4/come-on.png");
  }

  @include e(downloads) {
    @include position(-13px, -190px);
  }
}

@include b(next) {
  @include position--fixed(null, null, 47px, 50%);
  @include size(32px, 46px);

  cursor: pointer;
  margin-left: -16px;
  z-index: 99;
  background-image: url("./images/next.png");
}

@include b(nav) {
  @include position--fixed(50%, 90px);
  margin-top: -57px;
  z-index: 99;
  width: 23px;

  li {
    @include size(18px, 17px);

    background: {
      image: url("./images/nav.png");
      position: center center;
      repeat: no-repeat;
    }
    margin-bottom: 15px;
    cursor: pointer;

    &.active {
      background-image: url("./images/nav-active.png");
      cursor: inherit;
    }
  }
}
