<!DOCTYPE html>
<html dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title></title>
  ${require('../commons/head.html')}
  <link href="themes/app/commodity.css" rel="stylesheet">
</head>
<body class="ar">
${require('../commons/header.html')}
<div class="commodity">
  ${require('./details.html')}
  ${require('./slider.html')}
  ${require('./more.html')}
</div>
${require('../commons/footer.html')}
<script src="scripts/app/commons.js"></script>
<script src="scripts/app/commodity.js"></script>
</body>
</html>
