<div id="commodity-images" class="commodity-images clearfix">
  <div class="slider-wrap">
    <ul class="slider-images">
      <li>
        <img src="../../themes/app/commodity/slider/images/1.jpg">
      </li>
      <li>
        <img src="../../themes/app/commodity/slider/images/2.jpg">
      </li>
      <li>
        <img src="../../themes/app/commodity/slider/images/3.jpg">
      </li>
    </ul>
    <ul class="slider-dir">
      <li class="slider-left"></li>
      <li class="slider-right"></li>
    </ul>
  </div>
</div>