@import "../../utils/functions";
@import "../../utils/mixins";
@import "../../utils/classes/fonts";

.jobs {
  margin-bottom: px2rem(100px);

  dl {
    width: px2rem(672px);
    @include block-center();
    padding-top: px2rem(10px);
    padding-bottom: px2rem(50px);

    dt {
      @extend .font-18;
      @include middle(px2rem(64px));
      border-bottom: 1px solid #dddddd;

      span {
        display: inline-block;
        padding-left: px2rem(36px);
        padding-right: px2rem(36px);
        height: px2rem(64px);
        border-bottom: 2px solid #2a8fff;
        position: relative;
        bottom: 1px;
      }
    }

    dd {
      padding-top: px2rem(20px);

      li {
        @extend .font-14;
        @include middle(px2rem(75px));
        background: url("./images/arrow.png") no-repeat px2rem(8px) px2rem(26px);
        background-size: px2rem(12px) px2rem(21px);
        text-indent: px2rem(36px);

        a {
          color: #333333;
        }
      }
    }

    &.last {
      margin-right: 0;
    }
  }
}