@import "../../styles/utils/index";

@include b(home-banner) {
  @include size(100%, 581px);

  background: {
    image: url("./images/banner/bg.jpg");
    repeat: no-repeat;
    position: center;
  }

  .container {
    height: 581px;
  }

  @include e(money) {
    @include size(404px, 113px);
    @include position--absolute(130px, null, null, 74px);

    background: {
      image: url("./images/banner/money.png");
    }
  }

  @include e(number) {
    @include position--absolute(293px, null, null, 128px);

    color: color(1);

    h2 {
      @include font(8);
      @include text--middle(60px);

      margin-bottom: 8px;
    }

    p {
      @include font(5);

      text-indent: 8px;
    }
  }

  @include e(join) {
    @include link--block(290px, 72px);
    @include position--absolute(428px, null, null, 128px);

    background: {
      image: url("./images/banner/join.png");
    }
  }

  @include e(followers) {
    @include size(636px, 551px);
    @include position--absolute(null, 60px, 0);

    background: {
      image: url("./images/banner/followers.png");
    }
  }
}

@include b(home-helps) {
  @include padding(122px, null, 122px, null);

  background-color: color(1);

  h2 {
    @include font(9);
    @include text--middle(60px);

    text-align: center;
    padding-bottom: 66px;

    span {
      color: color(7);
    }
  }

  @include e(icons) {
    li {
      &:nth-child(odd) {
        @include size(138px, 130px);
        @include font(4);

        float: left;
        text-align: center;
        padding-top: 20px;
        cursor: pointer;

        i {
          @include block--center;
          @include size(56px, 61px);

          display: block;
          margin-bottom: 8px;
        }

        @for $i from 1 through 7 {
          $n: $i * 2 - 1;

          &:nth-child(#{$n}) {
            i {
              background-image: url("./images/helps/" + $i + ".png");
            }
          }
        }
      }

      &:nth-child(even) {
        @include size(16px, 5px);
        @include margin(70px, 10px, null, 10px);

        float: left;
        background-image: url("./images/helps/divider.png");
      }
    }

    @include m(active) {
      cursor: text;
      background-image: url("./images/helps/active.png");
    }
  }

  @include e(contents) {
    @include m(active) {
      display: block;
    }
  }
}
