@import "../../styles/utils/index";

@include b(home-banner) {
  @include size(100%, 581px);

  background: {
    image: url("./images/banner/bg.jpg");
    repeat: no-repeat;
    position: center;
  }

  .container {
    height: 581px;
  }

  @include e(money) {
    @include size(404px, 113px);
    @include position--absolute(130px, null, null, 74px);

    background: {
      image: url("./images/banner/money.png");
    }
  }

  @include e(number) {
    @include position--absolute(293px, null, null, 128px);

    color: color(1);

    h2 {
      @include font(8);
      @include text--middle(60px);

      margin-bottom: 8px;
    }

    p {
      @include font(5);

      text-indent: 8px;
    }
  }

  @include e(join) {
    @include link--block(290px, 72px);
    @include position--absolute(428px, null, null, 128px);

    background: {
      image: url("./images/banner/join.png");
    }
  }

  @include e(followers) {
    @include size(636px, 551px);
    @include position--absolute(null, 60px, 0);

    background: {
      image: url("./images/banner/followers.png");
    }
  }
}
