@import "../../styles/utils/index";

@include b(home-banner) {
  @include size(100%, 581px);

  background: {
    image: url("./images/banner/bg.jpg");
    repeat: no-repeat;
    position: center;
  }

  .container {
    height: 581px;
  }

  @include e(money) {
    @include size(404px, 113px);
    @include position--absolute(130px, null, null, 74px);

    background: {
      image: url("./images/banner/money.png");
    }
  }

  @include e(number) {
    @include position--absolute(288px, null, null, 121px);

    color: color(1);

    h2 {
      @include font(8);
      @include text--middle(60px);

      margin-bottom: 22px;
    }

    p {
      @include font(5);

      text-indent: 8px;
    }
  }

  @include e(join) {
    @include link--block(290px, 72px);
    @include position--absolute(428px, null, null, 128px);

    background: {
      image: url("./images/banner/join.png");
    }
  }

  @include e(followers) {
    @include size(636px, 551px);
    @include position--absolute(null, 60px, 0);

    background: {
      image: url("./images/banner/followers.png");
    }
  }
}

@include b(home-helps) {
  @include padding(110px, null, 78px, null);

  background-color: color(1);

  h2 {
    @include font(9);
    @include text--middle(60px);

    text-align: center;
    padding-bottom: 60px;

    span {
      color: color(7);
    }
  }

  @include e(tabs) {
    li {
      &:nth-child(odd) {
        @include size(138px, 130px);
        @include font(4);

        float: left;
        text-align: center;
        padding-top: 20px;
        cursor: pointer;

        i {
          @include block--center;
          @include size(56px, 61px);

          display: block;
          margin-bottom: 8px;
        }

        @for $i from 1 through 7 {
          $n: $i * 2 - 1;

          &:nth-child(#{$n}) {
            i {
              background-image: url("./images/helps/" + $i + ".png");
            }
          }
        }
      }

      &:nth-child(even) {
        @include size(16px, 5px);
        @include margin(70px, 11px, null, 12px);

        float: left;
        background-image: url("./images/helps/divider.png");
      }

      &.active {
        cursor: inherit;
        background-image: url("./images/helps/active.png");
      }
    }
  }

  @include e(contents) {
    li {
      @include padding(44px, null, null, 24px);

      line-height: 200%;
      font-size: 18px;

      &.active {
      }
    }
  }
}

@include b(home-stars) {
  @include e(tabs) {
    padding-top: 65px;
    background-color: #f8f8f8;

    ul {
      padding-left: 34px;
    }

    li {
      margin: 26px;
      float: left;
      position: relative;
      text-align: center;
      font-size: 16px;
      cursor: pointer;

      &::before {
        @include circle(96px);
        @include position--absolute(3px, null, null, 3px);

        border: 3px solid white;
        content: '';
        display: block;
      }

      img {
        @include circle(102px);

        display: block;
        border: 3px solid #1f1f2a;
        margin-bottom: 10px;
      }

      &.active {
        @include margin(5px, 10px, 0, 10px);

        position: relative;
        cursor: inherit;
        padding-bottom: 28px;

        &::before {
          @include size(140px, 140px);

          border-color: #ffc000;
        }

        &::after {
          @include size(100%, 25px);
          @include position--absolute(null, null, 0, 0);

          content: '';
          display: block;
          background: {
            image: url("./images/stars/tabs/active.png");
            repeat: no-repeat;
            position: center 0;
          }
        }

        img {
          @include size(146px, 146px);
        }
      }
    }

    .container {
      position: relative;
    }

    @include e(left, right) {
      @include size(28px, 54px);
      @include position--absolute(60px);

      cursor: pointer;
    }

    @include e(left) {
      left: 0;
      background-image: url("./images/stars/tabs/left.png");
    }

    @include e(right) {
      right: 0;
      background-image: url("./images/stars/tabs/right.png");
    }
  }

  @include e(contents) {
    padding-left: 223px;

    dl {
      padding-top: 123px;
      border-left: 4px solid #f6f6f6;
      position: relative;
      font-size: 18px;

      dt {
        @include position--absolute(50px, null, null, 0);
        @include size(150px, 30px);

        background: {
          image: url("./images/contents/someday.png");
          position: right 0;
          repeat: no-repeat;
        }
        padding-right: 60px;
        left: -200px;
        text-align: right;
      }

      dd {
        @include padding(15px, null, 46px);

        position: relative;
        margin-left: -27px;
        padding-left: 90px;
        background: {
          image: url("./images/contents/plane.png");
          repeat: no-repeat;
        }
      }
    }

    @include m(new) {
      @include margin(null, null, -5px, 10px);
    }

    @include e(videos) {
      width: 1000px;
      margin-top: 40px;
      margin-bottom: 54px;

      .video-card {
        float: left;

        &--sm {
          @include margin(null, null, 20px, 20px)
        }
      }
    }
  }
}

.load-more {
  @include text--middle(48px);
  @include padding(null, 30px, null, 30px);

  color: #2aaf9a;
  border-radius: 48px;
  font-size: 18px;
  display: inline-block;
  border: 2px solid #2aaf9a;
  cursor: pointer;
}
