@import "../../styles/utils/index";

@include c(article-details) {
  @include e(title) {
    @include block--center;
    @include text--overflow(2);

    padding-top: px2rem(20px * 2);
    margin-bottom: px2rem(10px * 2);
    width: px2rem(260px * 2);
    text-align: center;
    line-height: 150%;
  }

  @include e(extra) {
    @include padding(px2rem(9px * 2), null, px2rem(24px * 2));

    line-height: 100%;
    text-align: center;
  }

  @include e(body) {
    @include padding(null, px2rem(20px * 2), px2rem(20px * 2), px2rem(20px * 2));

    line-height: 150%;

    img {
      @include size(px2rem(335px * 2), px2rem(188px * 2));

      display: block;
      margin-bottom: px2rem(15px);
    }
  }
}
