<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title></title>
  ${require('../commons/head.html')}
  <link href="themes/app/job.css" rel="stylesheet">
</head>
<body>
${require('../commons/header.html')}
<div class="job">
  <h1>DBA工程师</h1>
  <dl>
    <dt>
      需求人数：2
      <br>
      薪资：8K-12K
    </dt>
    <dd>
      工作地点：福州
      <br>
      发布时间：2016-05-20
    </dd>
  </dl>
  <div class="content">
    <p>
      岗位职责：<br>
      1，参与设计及开发的Android客户端应用;<br>
      2，参与项目技术方案的制定和设计。
    </p>
    <p>
      任职要求：<br>
      1，二年以上的Android开发经验，至少独立承担过一款产品的开发;<br>
      2，熟悉掌握Android SDK中，熟悉的Eclipse等工具;<br>
      3，热爱技术，学习力强，有团队协作意识。
    </p>
    <p>
      公司福利：<br>
      1 ，上班时间：9：00-18：00 ，五天七小时制;<br>
      2 ，福利假期：法定福利假，带薪年假;<br>
      3 ，基本福利：五险一金，年度体检;<br>
      4 ，礼金/ 津贴：餐补，过节福利，生日/ 生育/ 结婚礼金，加班补贴;<br>
      5 ，奖金：项目奖金，年终奖，全勤奖，伯乐奖;<br>
      6 ，员工活动：年度旅游，体育项目，部门活动经费，不定期的公司聚餐和活动。
    </p>
    <p class="last">
      工作地点：福州市鼓楼区工业路611号高新技术创业园主楼8层<br>
      招聘邮箱：790500109@qq.com<br>
      （请以“姓名+ 应聘职位”做邮件主题）<br>
      招聘QQ ：790500109
    </p>
  </div>
</div>
${require('../commons/footer.html')}
<script src="scripts/app/commons.js"></script>
<script src="scripts/app/commodity.js"></script>
</body>
</html>
