@import "../../styles/utils/index";

@include c(status-bar) {
  @include header--sticky;
  @include text--middle(px2rem(50px * 2));

  @include e(back) {
    @include size(px2rem(22px), px2rem(40px));
    @include position--absolute(50%, null, null, px2rem(14px * 2 - 10px));

    transform: translateY(-50%);
    padding: px2rem(10px);
    box-sizing: content-box;
    background: {
      image: url("./images/back.png");
      size: px2rem(22px) px2rem(40px);
      position: center center;
      repeat: no-repeat;
    }
  }

  @include e(title) {
    @include text--overflow;
    @include block--center;

    width: 80%;
    text-align: center;
  }
}
