{{#getData 'hbs' 'contact'}}
  {{> ../commons/requires/head/template}}
  <p>{{contact.name}}</p>
  <p><img src="./images/example.jpg"></p>
  <p class="example"></p>
  {{> ../commons/requires/foot/template}}
{{/getData}}
