<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>孝道乐龄</title>
  <link href="<%= $.consts.CDN %>/static/styles/download.css?v=<%= $.consts.STATIC_VERSION %>" rel="stylesheet">
  <script>
    window.onload = function () {
      var userAgent = navigator.userAgent

      if (userAgent.indexOf('Android') > -1 || userAgent.indexOf('Linux') > -1) {
        window.location.href = 'http://fusion.qq.com/app_download?appid=1106222296&platform=qzone&via=QZ.MOBILEDETAIL.QRCODE&u=3046917960'
      } else if (userAgent.indexOf('iPhone') > -1) {
        window.location.href = 'https://itunes.apple.com/cn/app/%E5%AD%9D%E8%BF%91%E4%BD%A0%E6%88%91/id1270082319?mt=8'
      } else {
        window.location.href = 'http://imtt.dd.qq.com/16891/B40D2F30BE1DF41DC63B512A40BFEB42.apk?fsname=com.xiaodao_0.23_2.apk&csr=1bbd'
      }
    }
  </script>
</head>
<body>
</body>
</html>
