@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/functions";
@import "../../../../styles/utils/mixins";

.title {
  color: color(1);
  text-align: center;
  margin-bottom: px2rem(40px);

  @include font(6);
}
