<div class="c-carousel container">
  <ul class="c-carousel__images" id="carousel-images">
    <div class="c-carousel__images-item image-0">
      <img src="http://localhost:88/views/home/carousel.jpg">
      <div class="overlay"></div>
    </div>
    <div class="c-carousel__images-item image-1">
      <img src="http://localhost:88/views/home/carousel.jpg">
      <div class="overlay"></div>
    </div>
    <div class="c-carousel__images-item image-2">
      <img src="http://localhost:88/views/home/carousel.jpg">
      <div class="overlay"></div>
    </div>
  </ul>
  <ul class="c-carousel__nav" id="carousel-nav">
    <li class="c-carousel__nav-item"></li>
    <li class="c-carousel__nav-item is-active"></li>
    <li class="c-carousel__nav-item"></li>
  </ul>
  <div class="c-carousel__prev" id="carousel-prev"></div>
  <div class="c-carousel__next" id="carousel-next"></div>
</div>
