<div class="c-carousel container">
  <ul class="c-carousel__images" id="carousel-images">
    <% for (var i = 0; i < $.homeAds.length; i++) { %>
    <div class="c-carousel__images-item image-<%= i %>">
      <img src="<%= $.consts.FILE_URL + '/' + $.homeAds[i].picture %>">
      <div class="overlay"></div>
    </div>
    <% } %>
  </ul>
  <ul class="c-carousel__nav" id="carousel-nav">
    <% for (var i = 0; i < $.homeAds.length; i++) { %>
    <li class="c-carousel__nav-item<% i==1?' is-active':'' %>"></li>
    <% } %>
  </ul>
  <div class="c-carousel__prev" id="carousel-prev"></div>
  <div class="c-carousel__next" id="carousel-next"></div>
</div>
