<div class="c-contact-us container">
  <div class="c-contact-us__scan-oa c-qrcode fs2 c5">
    <img src="<%= $.helpers.getFileURL($.settings.oa_qrcode) %>">
    扫描关注公众号
  </div>
  <div class="c-contact-us__scan-app c-qrcode fs2 c5">
    <img src="<%= $.helpers.getFileURL($.settings.app_qrcode) %>">
    扫描下载 App
  </div>
</div>
