<div class="c-nav-bar" id="nav-bar">
  <a class="c-nav-bar__item" data-route="home" href="/">遇见重阳</a>
  <a class="c-nav-bar__item" data-route="articles/news" href="/articles?a=news">重阳画映</a>
  <a class="c-nav-bar__item" data-route="articles/contact" href="/articles?a=contact">联系我们</a>
</div>
