<div class="c-nav-bar" id="nav-bar">
  <a class="c-nav-bar__item" data-view="home" href="/">首页</a>
  <a class="c-nav-bar__item" data-view="news" href="/news">企业信息</a>
  <a class="c-nav-bar__item" data-view="contact-us" href="/contact">联系我们</a>
</div>
