<div class="c-news-list">
  <div class="c-news-list__heading">
    <div class="c-news-list__title"></div>
    <div class="c-news-list__nav"></div>
  </div>
  <div class="c-news-list__body"></div>
</div>
