<div class="c-news-details">
  <h1 class="c-news-details__title c13 fs6">同济大学何品晶教授来我院做精彩报告</h1>
  <div class="c-news-details__extra c14 fs1">
    发布日期：<span class="c15">2018-08-12</span>
    作者：<span class="c15">王经臣、王前</span>
    阅读：<span class="c15">878次</span>
  </div>
  <div class="c-news-details__body s-cms-content">
    <p>
      2018年12月4日上午，同济大学固体废物处理与资源化研究所所长、住房和城乡建设部农村生活垃圾处理技术研究与培训中心主任何品晶教授在E栋118会议室做了一场题为《生活垃圾处理的技术发展和挑战》的精彩报告。讲座由环境与能源学院副院长徐期勇副教授主持，参会人员有深圳市城管局政府工作人员、南方科技大学的张作泰教授和唐圆圆副教授、许楠副教授、吴华南副研究员、王文昭博后及在读研究生等。
    </p>
    <p>
      何品晶教授作为国内固废领域的学术带头人，长期从事固体废物处理与资源化利用技术、固体废物中持久性有毒物质风险评价方法研究，对固废领域有着深刻的见解，这场报告首先介绍了生活垃圾处理技术发展的内在逻辑，着重阐述了中国目前面临的现实问题和挑战，提出了关于本领域研究的前瞻性思考，深入浅出地从各个角度谈国内研究进展以及面临的问题，并且提出了生活垃圾处理处置新思路。接下来又放眼全球，介绍了一些国际固废领域的高水平的会议以及一些顶尖学术期刊，开拓了大家的视野。在场的专家和学生都表示从这一场讲座中受到了很大的启发。高雪濛同学会后感慨道，何老师作为固废行业的资深专家，高屋建瓴地向我们讲述了填埋、焚烧、好氧堆肥和厌氧消化等垃圾处理方式的特点与应用状况，提出不应想当然地取舍处理方法，要客观看待技术。
    </p>
  </div>
  <div class="c-news-details__nav fs1">
    <a href="#">上一篇：2015-2016学年第一次午餐学术沙龙活动成功举办</a>
    <br>
    <a href="#">下一篇：香港环保署雷国强博士来我院作精彩报告</a>
    <div class="c-news-details__nav-more">
      <a href="#">&lt; 更多</a>
    </div>
  </div>
</div>
