<div class="c-news-list">
  <div class="c-news-list__heading">
    <div class="c-news-list__title c14 fs8">走进重阳</div>
    <div class="c-news-list__nav fs1">
      <a class="c15" href="#">首页</a> &gt; <a class="c15" href="#">企业信息</a> &gt; <span class="c8">走进重阳</span>
    </div>
  </div>
  <ul class="c-news-list__body">
    <li class="cc-item">
      <img class="cc-item__img" src="http://localhost:88/views/list/news.jpg">
      <div class="cc-item__body">
        <a class="cc-item__title c2 fs4" href="#">国际先进养老理念，创造高品质新生活</a>
        <p class="cc-item__desc c6 fs2">引进美国先进的养老经验，结合国内养老特点，为长者提供一站式的退休生活解决方案美国先进,
          的养老经验，结合国内养老特点，为长者</p>
        <p class="cc-item__time c7 fs2">2014.06.10</p>
      </div>
    </li>
    <li class="cc-item">
      <img class="cc-item__img" src="http://localhost:88/views/list/news.jpg">
      <div class="cc-item__body">
        <a class="cc-item__title c2 fs4" href="#">国际先进养老理念，创造高品质新生活</a>
        <p class="cc-item__desc c6 fs2">引进美国先进的养老经验，结合国内养老特点，为长者提供一站式的退休生活解决方案美国先进,
          的养老经验，结合国内养老特点，为长者</p>
        <p class="cc-item__time c7 fs2">2014.06.10</p>
      </div>
    </li>
  </ul>
</div>
