<div class="c-news-card">
  <img class="c-news-card__img" src="http://localhost:88/views/home/news-img.jpg">
  <h2 class="c-news-card__title">福建中医药大学中西医结合学院爱心之行</h2>
  <p class="c-news-card__desc">看望老人给爷爷奶奶带来一份快乐、带来他们的温暖、带来年轻人的活力、快乐和惊喜。</p>
  <p class="c-news-card__time">2014.06.10</p>
</div>
