<div class="c-news-panel container">
  <div class="c-news-panel__header">
    <div class="c-news-panel__title fs7 c2">最新资讯</div>
    <div class="c-news-panel__more"></div>
  </div>
  <div class="c-news-panel__body">
    <% $.categoryTops.forEach(function (item) { %>
    <%- require('./commons/components/news-card.ejs')({ $: $, item: item }) %>
    <% }) %>
  </div>
</div>
