<div class="c-news-card">
  <img class="c-news-card__img" src="<%= $.consts.FILE_URL + '/' + item.picture %>">
  <h2 class="c-news-card__title"><%= item.title %></h2>
  <p class="c-news-card__desc"><%= item.content %></p>
  <p class="c-news-card__time">2014.06.10<%= $.helpers.formatTime() %></p>
</div>
