<div class="c-pagination">
  <span class="c-pagination__item">上一页</span>
  <span class="c-pagination__item is-active">1</span>
  <span class="c-pagination__item">2</span>
  <span class="c-pagination__item">3</span>
  <span class="c-pagination__item m-ellipsis">...</span>
  <span class="c-pagination__item">5</span>
  <span class="c-pagination__item">下一页</span>
</div>
