<div class="c-side-bar">
  <div class="c-side-bar__title c1 fs6">企业信息</div>
  <ul class="cc-menu">
    <li class="cc-menu__item"><a href="#">对方水电费</a></li>
    <li class="cc-menu__item"><a href="#">对方水电费</a></li>
    <li class="cc-menu__item"><a href="#">对方水电费</a></li>
  </ul>
</div>
