@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/functions";
@import "../../../../styles/utils/mixins";

/* sidebar */
@include b(sidebar) {
  float: right;
  width: 310px;

  /* panel */
  @include e(panel) {
    background-color: color(2);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);

    dt {
      @include text--middle(40px);
      @include font(3);
      @include inline--block;

      border-bottom: 2px solid color(4);
      margin-bottom: 15px;
    }

    /* list */
    @include e(list) {
      li {
        @include text--middle(40px);
        @include text--overflow;
      }
    }
  }

  /* qrcode */
  @include e(qrcode) {
    @include img--block(200px, 200px);
    @include block--center;

    /* tip */
    @include e(tip) {
      text-align: center;
    }
  }
}
