@import "utils/variables";

// 字体大小 - 小
$font-size-sm: 12px;

// 字体大小 - 默认
$font-size: 14px;

// 字体大小 - 大
$font-size-bg: 16px;

// 字体大小 - 超大
$font-size-xl: 30px;

// 颜色 - 默认
$color: #545764;

// 颜色 - 主
$color-primary: #2dbe60;

// 颜色 - 次
$color-secondary: null;

// 颜色 - 第三
$color-tertiary: null;

// 颜色 - 第四
$color-quaternary: null;

// 行高 - 默认
$line-height: 180%;

// 页面最小宽度
$page-min-width: 1200px;

// 背景色 - 默认
$color-bg: white;

// 背景色 - 主
$color-bg-primary: #f1f2f6;

// 背景色 - 次
$color-bg-secondary: null;

// 背景色 - 第三
$color-bg-tertiary: null;

// 背景色 - 第四
$color-quaternary: null;

// top-bar 高度
$height-top-bar: 75px;
