@import "utils/variables";

// 字体大小 - 小
$font-size-sm: 12px;

// 字体大小 - 默认
$font-size: 14px;

// 字体大小 - 大
$font-size-bg: 16px;

// 字体大小 - 超大
$font-size-xl: 30px;

// 颜色 - 默认
$color: #545764;

// 颜色 - 主色
$color-primary: #2dbe60;

// 颜色 - 次色
$color-secondary: red;

// 行高 - 默认
$line-height: 180%;

// 页面最小宽度
$page-min-width: 1200px;

// 块背景色 - 默认
$color-block: white;

// 块背景色 - 主色
$color-block-primary: #f1f2f6;

// top-bar 高度
$height-top-bar: 75px;
