@import "../../styles/utils/index";

@include c(nav-bar) {
  @include padding(null, px2rem(13px * 2), null, px2rem(13px * 2));

  display: flex;
  align-items: center;
  list-style: none;

  @include e(item) {
    @include text--middle(px2rem(40px * 2));

    flex: 1;
    text-align: center;
    box-sizing: border-box;

    @include m(is-active) {
      color: nth($colors, 3);
      border-bottom: 0.05333rem solid nth($colors, 4);
    }
  }
}
