<div class="header">
  <a class="c-logo" href="#"></a>
  <ul class="c-nav-bar">
    <li class="c-nav-bar__item">
      <a href="#">首页</a>
    </li>
    <li class="c-nav-bar__item is-active">企业信息</li>
  </ul>
  <div class="c-hotline">
    <p class="c-hotline__tel">400-918-9833</p>
    <p>客服热线</p>
  </div>
</div>
<div class="main">
  <div class="c-carousel">
    <ul class="c-carousel__images">
      <% for (var i = 0; i < 2; i++) { %>
      <div class="c-carousel__images-item"></div>
      <% } %>
    </ul>
    <ul class="c-carousel__nav">
      <% for (var i = 0; i < 2; i++) { %>
      <li class="c-carousel__nav-item"></li>
      <% } %>
    </ul>
    <div class="c-carousel__prev"></div>
    <div class="c-carousel__next"></div>
  </div>
  <div class="n-contact-us">
    <div class="n-scan-oa c-qrcode">扫描关注公众号</div>
    <div class="n-scan-app c-qrcode">扫描下载 App</div>
  </div>
  <div class="n-news-title">
    <div class="n-news-more"></div>
  </div>
  <ul class="n-news-list">
    <% for (var i = 0; i < 5; i++) { %>
    <li class="n-news-list__item">
      <div class="c-news-card">
        <img class="c-news-card__img" src="">
        <h2 class="c-news-card__title">福建中医药大学中西医结合学院爱心之行</h2>
        <p class="c-news-card__desc">看望老人给爷爷奶奶带来一份快乐、带来他们的温暖、带来年轻人的活力、快乐和惊喜。</p>
        <p class="c-news-card__time">2014.06.10</p>
      </div>
    </li>
    <% } %>
  </ul>
</div>
<div class="footer">
  Copyright © 2018 闽侯重阳养老院　　京ICP备17002856号<br>
  联系电话：13899875765　　地址：福建省福州市闽侯县荆溪镇荔园度假村内东艺楼
</div>
