// 字体
$font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

// 移动端字体
$font-family-mobile: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;

// 英文字体
$font-family-en: Arial, Helvetica, sans-senif, "Microsoft YaHei";

// BEM element 分隔符
$element-separator: '__';

// BEM modifier 分隔符
$modifier-separator: '--';
