// 字体
$font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

// 移动端字体
$font-family-mobile: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;

// 英文字体
$font-family-en: Arial, Helvetica, sans-senif, "Microsoft YaHei";

// 字体大小
$font-size: 14px;

// 字体颜色
$color: black;

// 网页最大宽度
$max-width: 750px;

// 网页背景色
$bg-color: #f6f6f6;

// 块背景色
$block-bg-color: white;

// 颜色列表
$colors: #e71743 #9a9a9a #eee #232323 #999 #fff #e8e8e8 #0084ff #989898 #eee #222 #dc3434 #722826 #fff2cf #ee3822 #7c0e0c;

// 字体大小
$fonts: (36px) (14px) (15px) (18px) (12px) (16px) (11px) (38px);
