@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/functions";
@import "../../../../styles/utils/mixins";

.footer {
  background-color: color(5);
  padding: 60px 0;
  color: color(3);
  line-height: 200%;
  text-align: center;
}
