@import "../../styles/utils/index";

@include c(article-details) {
  @include e(title) {
    line-height: 100%;
    padding-top: 5px;
    font-weight: bold;
  }

  @include e(extra) {
    @include padding(15px, null, 26px);

    border-bottom: 2px solid nth($colors, 21);

    span {
      padding-right: 15px;
    }
  }

  @include e(body) {
    padding-top: 32px;
  }

  .s-cms-content {
    font-size: nth($font-sizes, 2);
    line-height: 200%;
    color: nth($colors, 20);

    p {
      padding-bottom: 20px;
    }

    img {
      @include block--center;

      max-width: 800px;
      display: block;
    }

    .video-js {
      @include size(800px, 450px);
      @include block--center;
    }
  }

  @include e(nav) {
    @include padding(12px, null, 12px);

    margin-top: 50px;
    position: relative;
    line-height: 200%;
    border-top: 1px dotted nth($colors, 19);
    border-bottom: 1px dotted nth($colors, 19);

    a {
      color: nth($colors, 21);

      &:hover {
        color: nth($colors, 21);
      }
    }
  }

  @include e(nav-more) {
    @include position--absolute(50%, 0);

    transform: translateY(-50%);
  }
}
