@import "../../../../styles/utils/index";

@include b(ears) {
  @include font(1);
  @include size(px2rem(170px), px2rem(38px));
  @include block--center;

  text-align: center;
  color: color(2);
  line-height: px2rem(38px);
  position: relative;
  margin-bottom: px2rem(18px);

  &::before,
  &::after {
    @include size(px2rem(19px), px2rem(24px));
    @include position--absolute(9px);

    content: '';
    display: block;
    background: {
      image: url("./images/ear.png");
      size: 100% 100%;
    }
  }

  &::before {
    left: px2rem(-20px);
  }

  &::after {
    right: px2rem(-20px);
    transform: rotate(180deg);
  }
}
