@import "../../../../styles/utils/index";

@include b(main) {
  padding-bottom: 50px;
  box-sizing: border-box;
  float: left;
  width: 852px;

  @include e(title) {
    font-size: 30px;
    margin-bottom: 24px;
  }

  @include e(subtitle) {
    color: #666;
    margin-bottom: 40px;
  }

  @include e(content) {
    font-size: 16px;
    line-height: 190%;

    p {
      padding-bottom: 30px;
    }
  }
}
