@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";

.content {
  &__title {
    margin-bottom: px2rem(20px);

    @include text--middle(px2rem(30px));
    @include font(2);
  }

  &__sub-title {
    margin-bottom: px2rem(15px);

    @include text--middle(px2rem(20px));
    @include font(5);
  }

  &__body {
    color: color(9);
    margin-bottom: px2rem(38px);
    line-height: 180%;

    @include font(5);
  }
}
