@import "../../styles/utils/index";

@include c(qrcode) {
  width: px2rem(224px / 1.44 + 40px);
  box-sizing: border-box;
  line-height: 100%;
  text-align: center;

  @include e(wrap) {
    @include size(px2rem(224px / 1.44), px2rem(224px / 1.44));
    @include block--center;

    position: relative;
    overflow: hidden;
    margin-bottom: px2rem(30px);
  }

  img {
    @include size(px2rem(224px / 1.44), px2rem(224px / 1.44));

    display: block;
  }
}
