@import "../../styles/utils/index";

@include c(qrcode) {
  width: px2rem(102px * 2);
  box-sizing: border-box;
  line-height: 100%;
  text-align: center;

  @include e(wrap) {
    @include size(px2rem(102px * 2), px2rem(102px * 2));

    position: relative;
    overflow: hidden;
    margin-bottom: px2rem(5px * 2);
  }

  img {
    @include position--absolute(50%, null, null, 50%);
    @include size(px2rem(92px * 2), px2rem(92px * 2));

    transform: translate(-50%, -50%);
    display: block;
  }
}
