<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="{{global.keywords}}">
  <meta name="description" content="{{global.description}}">
  <title>{{global.title}}</title>
  <link href="/static/styles/commons.css" rel="stylesheet">
</head>
