@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/functions";
@import "../../../../styles/utils/mixins";

.card {
  background: {
    image: url("./images/bg.png");
    size: 100% 100%;
  }
  width: px2rem(460px);
  height: px2rem(160px);
  overflow: hidden;

  dt {
    float: left;
    width: px2rem(150px);
    @include middle(px2rem(160px));
    text-align: center;
    overflow: hidden;
    @include font(4);
    color: nth($colors, 6);
  }

  dd {
    float: left;
    padding-left: px2rem(25px);
    width: px2rem(280px);
    overflow: hidden;

    h3 {
      color: nth($colors, 4);
      @include font(4);
      padding-top: px2rem(25px);
      padding-bottom: px2rem(15px);
    }

    p {
      color: nth($colors, 5);
      @include font(5);
      line-height: 150%;
    }
  }
}