<div class="footer">
  Copyright © 2018
  <%= $.settings.title %>　　
  <a class="c13" href="http://www.miitbeian.gov.cn/" target="_blank"><%= $.settings.icp %></a>
  <br>
  联系电话：<%= $.settings.telephone %>　　
  地址：<%= $.settings.address %>
</div>
