@import "../../styles/utils/index";

@include b(home-company) {
  @include e(qrcode) {
    @include img--block(200px, 200px);
    @include block--center;

    @include e(tip) {
      @include padding(8px, null, 8px, null);

      color: color(7);
    }
  }

  @include e(contact) {
    @include inline--block;

    padding: 5px 25px;
    background-color: color(4);
    color: white;
    border-radius: 3px;
    text-align: center;
  }
}

@include b(home-contact) {
  @include e(banner) {
    @include img--block(960px, 380px);
    @include block--center;
  }

  p {
    @include block--center;

    width: 960px;
    text-align: left;
    margin-top: 20px;
  }
}
