@import "../../../../styles/utils/index";

@include b(vs) {
  @include size(px2rem(650px), px2rem(155px));
  @include block--center;

  position: relative;
  display: flex;
  margin-top: px2rem(18px);

  dl {
    text-align: center;
    flex: 1;
  }

  dt {
    @include font(4);

    color: color(8);
    padding-bottom: px2rem(20px);
  }

  dd {
    @include font(5);

    color: color(5);
  }
}
