@import "../commons/styles/utils/index";

@include p(home) {
  @include pb(middle-wrap) {
    @include size(100%, px2rem(562px / 1.44));

    position: relative;
    background: {
      image: url("./images/bg.png");
      repeat: no-repeat;
      size: px2rem(347px / 1.44) px2rem(639px / 1.44);
    }

    @include m(reverse) {
      background: {
        image: url("./images/bg-reverse.png");
        position: right 0;
      }
    }
  }

  @include c(logo) {
    @include position--absolute(px2rem(44px / 1.44), null, null, 50%);

    transform: translateX(-50%);
  }

  @include pb(oa-qrcode, app-qrcode) {
    @include position--absolute(null, null, px2rem(45px / 1.44));
  }

  @include pb(oa-qrcode) {
    left: px2rem(206px / 1.44);
  }

  @include pb(app-qrcode) {
    right: px2rem(206px / 1.44);
  }
}
