<div class="footer c2 fs3">
  Copyright © 2018
  <%= $.settings.title %>　　
  <a class="c2" href="http://www.miitbeian.gov.cn/" target="_blank"><%= $.settings.icp %></a>
  <br>
  联系电话：<%= $.settings.telephone %>
  <br>
  地址：<%= $.settings.address %>
</div>
