@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/functions";
@import "../../../../styles/utils/mixins";
@import "~compass-mixins/lib/compass/utilities";

.panel {
  &__title {
    background: {
      image: url("./images/dot.png");
      size: px2rem(12px) px2rem(12px);
      position: 0 px2rem(9px);
      repeat: no-repeat;
    }

    text-indent: px2rem(30px);
    margin-bottom: px2rem(20px);

    @include text--middle(px2rem(30px));
    @include font(3);
  }

  %body {
    color: color(9);
    padding-left: px2rem(30px);
    margin-bottom: px2rem(38px);
    line-height: 180%;
  }

  &__body {
    @extend %body;

    @include font(3);
  }

  &__body--sm {
    @extend %body;

    @include font(2);
  }

  &__dl {
    line-height: 180%;

    @include font(5);
    @include clearfix;

    dt {
      width: px2rem(155px);
      float: left;
      padding-left: px2rem(30px);
    }

    dd {
      width: px2rem(500px);
      float: left;
      color: color(5);
      padding-bottom: px2rem(10px);
    }
  }
}
