@import "../../../../styles/utils/index";

@include b(header) {
  @include size(100%, 90px);

  background-color: color(1);
  border-bottom: 2px solid color(2);

  @include e(logo) {
    @include link--block(169px, 51px);
    @include position--absolute(20px, null, null, 5px);

    background-image: url("./images/logo.png");
  }

  @include e(words) {
    @include size(347px, 23px);
    @include position--absolute(35px, null, null, 214px);

    background-image: url("./images/words.png");
  }

  @include e(download) {
    @include link--block(137px, 47px);
    @include text--middle(47px);
    @include font(4);
    @include position--absolute(23px, 5px);

    color: color(1);
    border-radius: 47px;
    background: {
      color: color(2);
      image: url("./images/phone.png");
      repeat: no-repeat;
      position: 20px 13px;
    }
    text-indent: 45px;
  }
}
