@import "../../styles/utils/index";

/* home-company */
@include b(home-company) {
  /* qrcode */
  @include e(qrcode) {
    @include link--block(200px, 200px);
    @include block--center;

    /* tip */
    @include e(tip) {
      @include padding(8px, null, 8px, null);

      color: color(7);
    }
  }

  /* contact */
  @include e(contact) {
    @include inline--block;

    padding: 5px 25px;
    background-color: color(4);
    color: white;
    border-radius: 3px;
    text-align: center;
  }
}

/* home-services */
@include b(home-services) {
  /* list */
  @include e(list) {
    @include clearfix;

    /* item */
    @include e(item) {
      @include padding(150px, 30px, null, 25px);

      background-repeat: no-repeat;
      width: 245px;
      float: left;
      overflow: hidden;

      dl {
        text-align: left;

        dt {
          @include inline--block;
          @include font(5);

          border-bottom: 2px solid color(4);
          padding-bottom: 25px;
          margin-bottom: 10px;
        }
      }

      /* 1 */
      @include e(1) {
        background-image: url("./images/services/1.png");
      }

      /* 2 */
      @include e(2) {
        background-image: url("./images/services/2.png");
      }

      /* 3 */
      @include e(3) {
        background-image: url("./images/services/3.png");
      }

      /* 4 */
      @include e(4) {
        background-image: url("./images/services/4.png");
      }
    }
  }
}

/* home-cases */
@include b(home-cases) {
  /* list */
  @include e(list) {
    @include clearfix;

    /* item */
    @include e(item) {
      @include margin(null, null, 20px, 20px);

      width: 336px;
      height: 254px;
      float: left;
      padding: 25px;
      background-color: color(2);

      img {
        @include img--block(334px, 254px);
      }

      /* first */
      @include e(first) {
        margin-left: 0;
      }
    }
  }
}

/* home-docs */
@include b(home-docs) {
  /* list */
  @include b(list) {
    /* item */
    @include e(item) {
      float: left;
      width: 50%;

      dd {
        width: 500px;
      }
    }
  }
}
