@import "../../styles/utils/variables";
@import "../../styles/utils/functions";
@import "../../styles/utils/mixins";

/* home-slider */
$slider-width: 1920px;
$slider-height: 500px;

@include b(home-slider) {
  background-color: #1767da;
  position: relative;
  width: 100%;
  height: $slider-height;
  overflow: hidden;

  @include e(images) {
    position: absolute;
    width: $slider-width;
    height: $slider-height;
    left: 50%;
    margin-left: -$slider-width / 2;

    @include e(item) {
      img {
        @include img--block($slider-width, $slider-height);
      }

      @include e(tip) {
        margin-top: -380px;
        color: white;

        h2 {
          font-size: 30px;
        }

        p {
          font-size: 16px;
          padding-top: 60px;
        }

        a {
          @include text--middle(46px);

          display: block;
          margin-top: 54px;
          font-size: 16px;
          color: #fff;
          width: 180px;
          border-radius: 3px;
          text-align: center;
          border: 1px solid #fff;
        }
      }
    }
  }
}
