@import "../../styles/utils/variables";
@import "../../styles/utils/functions";
@import "../../styles/utils/mixins";

/* home-panel */
@include b(home-panel) {
  @include padding(70px, null, 70px, null);

  text-align: center;

  h2 {
    @include inline--block;

    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid $color-primary;
    font-size: $font-size-xl;
  }

  h3 {
    @include inline--block;

    font-weight: normal;
    padding-bottom: 30px;
    width: 400px;
  }

  @include m(primary) {
    background-color: $color-block-primary;
  }
}

/* home-company */
@include b(home-company) {
  /* qrcode */
  @include e(qrcode) {
    width: 200px;
    height: 200px;
  }

  /* contact */
  @include e(contact) {
    @include inline--block;

    padding: 5px 25px;
    background-color: $color-primary;
    color: white;
    border-radius: 3px;
    text-align: center;
  }
}

/* home-services */
@include b(home-services) {
  /* list */
  @include e(list) {
    @include clearfix;

    /* item */
    @include e(item) {
      @include padding(150px, 30px, null, 25px);

      background-repeat: no-repeat;
      width: 245px;
      float: left;
      overflow: hidden;

      dl {
        text-align: left;

        dt {
          @include inline--block;

          font-size: 22px;
          border-bottom: 2px solid $color-primary;
          padding-bottom: 25px;
          margin-bottom: 10px;
        }
      }

      /* 1 */
      @include e(1) {
        background-image: url("./images/services/1.png");
      }

      /* 2 */
      @include e(2) {
        background-image: url("./images/services/2.png");
      }

      /* 3 */
      @include e(3) {
        background-image: url("./images/services/3.png");
      }

      /* 4 */
      @include e(4) {
        background-image: url("./images/services/4.png");
      }
    }
  }
}

/* home-cases */
@include b(home-cases) {
  /* list */
  @include e(list) {
    @include clearfix;

    /* item */
    @include e(item) {
      @include margin(null, null, 20px, 20px);

      width: 336px;
      height: 254px;
      float: left;
      padding: 25px;
      background-color: white;

      img {
        @include img--block(334px, 254px);
      }

      /* first */
      @include e(first) {
        margin-left: 0 !important;
      }
    }
  }
}

/* home-doc */
@include b(home-doc) {
  /* list */
  @include e(list) {
    @include clearfix;

    /* item */
    @include e(item) {
      @include clearfix;

      float: left;
      width: 50%;
      padding-bottom: 50px;
      overflow: hidden;

      dt {
        @include inline--block;

        background-color: $color-primary;
        padding: 0 10px;
        border-radius: 2px;
        color: white;
        float: left;
      }

      a {
        font-size: 16px;
      }

      p {
        padding-top: 6px;
      }

      dd {
        float: left;
        width: 460px;
        padding-left: 10px;
        text-align: left;
      }
    }
  }
}
