<div class="details">
  <img class="icon" src="../../themes/app/commodity/details/images/icon.png">
  <h1 class="title">航海纪元</h1>
  <div class="actions">
    <a class="app-store" href="#"></a>
    <a class="google-play" href="#"></a>
    <a class="home-page" href="#">游戏官网</a>
  </div>
  <div class="content">
    <p>　　《航海纪元》还原16世纪大航海时代，再现传奇船长掌舵风帆，决战海上的热血场景。当你化身船长，驾驭着精工还原的历史名舰驰骋大海，仿佛穿越时间，掉落在16世纪的甲板上。</p>
    <p>　　海上冒险随时收受到海盗的威胁，《航海纪元》精心还原恢弘海战画面与经典海战玩法，致敬航海经典。一场船长与船长的较量，名舰与名舰的对决，炮火纷飞中让你感受海上争霸的激情与热血的同时，也感受到一种情怀的回归。</p>
  </div>
</div>