@import "../../../../styles/utils/index";

@include b(avatar) {
  @include size(px2rem(238px), px2rem(177px));
  @include margin(null, auto, px2rem(15px), auto);
  @include position--relative(null, null, null, px2rem(-16px));

  margin-top: px2rem(20px);
  background: {
    image: url("./images/bg.png");
    size: 100% 100%;
  }

  img {
    @include margin(px2rem(14px), null, null, px2rem(56px));
    @include circle(px2rem(150px));

    border: px2rem(3px) solid #501b0b;
  }
}
