<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title></title>
  ${require('../commons/head.html')}
  <link href="themes/app/home.css" rel="stylesheet">
</head>
<body class="ar">
${require('../commons/header.html')}
${require('./slider.html')}
${require('./about.html')}
${require('./commodities.html')}
${require('./contact.html')}
${require('../commons/footer.html')}
<script src="scripts/app/commons.js"></script>
<script src="scripts/app/home.js"></script>
</body>
</html>
