<div id="home-slider" class="home-slider">
  <ol class="slider-images">
    <li>
      <a href="http://www.liruan.cn/" target="_blank">
        <img src="../../themes/app/home/slider/images/demo.png" title="游戏">
      </a>
    </li>
    <li>
      <a href="http://www.game.im/commodities/2" target="_blank">
        <img src="../../themes/app/home/slider/images/demo.png" title="游戏">
      </a>
    </li>
    <li>
      <a href="http://www.baidu.com/" target="_blank">
        <img src="../../themes/app/home/slider/images/demo.png" title="游戏">
      </a>
    </li>
  </ol>
  <ol class="slider-indexes">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
</div>
