{{#getData 'page-hbs'}}
  {{> ../commons/snippets/head}}
  <p>{{pageHBS.name}}</p>
  <p><img src="./images/my-image.jpg"></p>
  <div class="my-div"></div>
  {{> ../commons/snippets/foot}}
{{/getData}}
