@import "../../../../styles/utils/index";

@include b(notice) {
  @include size(px2rem(249px), px2rem(48px));
  @include block--center;
  @include font(3);

  line-height: px2rem(48px);
  text-align: center;
  background: {
    image: url("./images/bg.png");
    size: 100% 100%;
  }
  color: color(2);
  padding-top: px2rem(8px);
  margin-bottom: px2rem(28px);
}
