@import "~compass-mixins/lib/compass/reset";

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: color(1);
}

body {
  font-family: $font-family-mobile;
  padding-top: px2rem(36px);
}

a {
  text-decoration: none;
}
